.crazdiv{
color:rgb(0, 204, 255)  
}

#b1{
margin-top:50px;   
}

.heading_div2{
font-family: 'Shadows Into Light', cursive;
}

#title{
font-family: 'Permanent Marker', cursive;    
color: red;
}

#image1{
width:100px;  
}

#mqn{
margin-left:500px;    
}